# Python cache
__psycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
.venv-py310/
ss_predictor_env/

# IDE settings
.idea/
.vscode/

# Temporary / backup files
*.save
*.tmp
*.log

# Large trained model file
svm_q3_model.pkl

# Generated / intermediate bioinformatics files
*.pdb
*.pssm
*.dssp
er.name

# OS files
.DS_Store
Thumbs.db